body {
  background-image: url(rock_paper_scissor_lizard_spock_big_bang_theory_clothing_geek_tshirt_t-shirt_funny_humor_girls_men_ladies_unisex_tee_shirt_present_star_trek_daa04083.jpg);
  font-family: 'Lucida Sans Unicode', 'Arial', serif;
  color: white;
}